.cat {
  height: 20px;
  width: 30px;
  background-size: 40px;
  background-position: center 70%;
  background-repeat: no-repeat;
  background-image: url("./assets/idle.gif");
}

.running {
  background-image: url("./assets/running.gif");
}

.hitting {
  background-image: url("./assets/hitting.gif");
}

.left {
  transform: scale(-1, 1);
}
