.layout {
  background-image: url("./background.png");
  background-size: 400px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  animation: background-slide 30s linear infinite;
}

@keyframes background-slide {
  from {
    background-position: 0;
  }

  to {
    background-position: 2000px;
  }
}

.wrapper {
  transform: translate(200px, 500px) scale(3) rotate(-30deg);
  transition: transform 2s;
}

.inGame {
  transform: none;
}
